.challenge-badge {
  display: flex;
  flex-direction: column; /* met le texte et les étoiles en colonne */
  align-items: center; /* vient centré horizontalement */
  justify-content: center; /* vient centré verticalement */
  text-align: center; /* met le texte bien au centre */
  position: relative; /* évite de faire bouger mon cercle 'durée' */
  background-color: #AAA1C8;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 10px 15px 6px rgba(0, 0, 0, 0.7);
  position: relative;
  max-width: 600px;
  margin: 30px auto;
  margin-top: 250px;
  margin-bottom: 30px;
}

.challenge-content h3 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  color: #192942;
}

.stars {
  display: flex;
  justify-content: center; 
  gap: 10px; /* l'espace entre chaqu'une de mes étoiles */
  font-size: 3.5em; /* la taille des étoiles */
  margin-top: 10px; 
}

.star-filled {
  color: #FFD700;
}

.star-empty {
  color: #ccc;
}

.duration-circle {
  position: absolute;
  top: -50px;
  right: -20px;
  background-color: #ACC8E5;
  color: #192942;
  font-weight: bold;
  padding:30px 20px;
  border-radius: 50%;
  box-shadow: 10px 23px 7px rgba(0, 0, 0, 0.7);
} 