.navbar-content {
    position: fixed !important;
    background-color: #1A0A53 !important; /* Votre couleur personnalisée */
    color: #fff !important;
    padding: 10px 20px !important;
  }
  
  .navbar-content .nav-link {
    color: #fff !important;
  }
  
  .navbar-content .nav-link:hover {
    color: #ccc !important;
  }