/* Section de storytelling */
.storytelling-section {
    background-color: #1A0A53;
    color: #fff;
    text-align: left;
    padding: 40px 20px;
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%; /* Limite la largeur à 80% de la page */
    box-sizing: border-box; /* Inclut les padding dans la largeur */
  }
  
  .storytelling-title {
    color: #FFF8F0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .storytelling-bonjour {
    color: #FFF8F0;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .storytelling-text {
    text-align: center;
    color: #FFF8F0;
    max-width: 800px;
    margin: 0 auto 20px;
    font-size: 1em;
    line-height: 1.6;
  }
  
  .storytelling-stats {
    color: #FFF8F0;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
  }
  
  .storytelling-stat {
    text-align: center;
  }
  
  .storytelling-stat h3 {
    color: #FFF8F0;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
  }
  
  .storytelling-stat p {
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px 0 0;
  }
  
  .storytelling-button {
    background: linear-gradient(to right, #9929BD, #701E8A, #461357);
    color: #FFF8F0;
    border: none;
    width: 150px;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0px 4px 4px 0px #000000;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .storytelling-button:hover {
    background: linear-gradient(to right, #9929BD, #461357, #701E8A );
  }
  
  /* Media Queries (pour le responsive) */
  
  /* Portable */
  @media screen and (max-width: 768px) {
    .storytelling-section {
      width: 90%; 
      padding: 20px 15px; 
    }
  
    .storytelling-title {
      font-size: 1.8em; 
    }
  
    .storytelling-bonjour {
      font-size: 1.3em;
    }
  
    .storytelling-text {
      font-size: 0.9em; 
    }
  
    .storytelling-stats {
      flex-direction: column; 
      gap: 20px;
    }
  
    .storytelling-stat {
      text-align: center;
      width: 100%; 
    }
  
    .storytelling-button {
      width: 130px; 
      font-size: 0.9em; 
    }
  }
  
  /* Tablette ou écran moyen */
  @media screen and (max-width: 1024px) {
    .storytelling-section {
      width: 85%; 
      padding: 30px 20px;
    }
  
    .storytelling-title {
      font-size: 2em;
    }
  
    .storytelling-bonjour {
      font-size: 1.4em;
    }
  
    .storytelling-text {
      font-size: 1em;
    }
  
    .storytelling-button {
      width: 140px;
    }
  }
  